@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
	box-sizing: border-box;
	margin: 0px;
	list-style: none;
}

a{
	text-decoration: none;
	color: unset;
}

html{
	scroll-behavior: smooth;
}

body{
	background-color: #F0E7D8;
}

img{
	border-radius: 12px;
}

#mainvisual{
	width: 100%;
	background-image: url(https://github.com/tcpp1/portfolio/blob/main/image/mainvisual.jpg?raw=true );
	background-size: cover;
}

#mainvisual h1{
	font-family: 'Lobster', cursive;
	font-size: 50px;
	text-align: center;
	padding: 500px 0 170px 0;
	color: white;
	opacity: 0.85;
}

#mainvisual h2{
	font-family: 'Lobster', cursive;
	font-size: 50px;
	text-align: center;
	padding-bottom: 200px;
	color: white;
	opacity: 0.85;
}

.main-title{
	display: none;
}


.menu{
	margin: 0 auto;
	background-color: rgba(255,255,255,0.8);
}

.menu ul{
	text-align: center;
	display: flex;
	justify-content: center;
}

.menu li{
	cursor: pointer;
	padding: 10px 40px;
	margin-right: 10px;
	font-size: 20px;
	font-weight: bold
}

header{
	margin-bottom: 60px;
	position: sticky;
	top: 0;
}

.section-title{
	text-align: center;
	font-family: 'Staatliches', cursive;
	font-size: 60px;
	margin-top: 150px;
	margin-bottom: 150px;
}

#motos{
	width: 70vw;
	margin: 0 auto;
}

.moto-icons{
	display: flex;
	flex-wrap: wrap;
}

.moto-icon{
	margin: 20px 15px;
}



.moto-parent{
	max-width: 33%;
	display: flex;
	flex-direction: column;
}

.moto-parent h2{
	font-family: 'Bree Serif', serif;
	display: inline-block;
	padding-left: 10px;
	padding-bottom: 60px;
}

#artworks{
	width: 70vw;
	margin: 0 auto;
}

.slide{
	display: none;
}

.active{
	display: block;
}



.design-introduction{
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	padding: 50px 25px 50px 25px;
	display: inline-block;
}
.design-introduction span{
	font-size: 40px;
}


.container{
	display: flex;
	padding-bottom: 60px;
}

.artwork-left{
	max-width: 50%;
}

.artwork-left img{
	width: 100%;
}

.artwork-right{
	max-width: 50%;
	margin: 10px;
}

.sampleimgs{
	display: flex;
	padding-left: 10px;
}

.Teethumb{
	padding: 10px;
	width: 24%;
	border-radius: 20px;
	cursor: zoom-in;
}


.suzuributton{
	margin: 0 auto;
	width: 500px;
	border: 3px solid black;
	border-radius: 15px;
	margin-bottom: 60px;
	padding: 15px;
	font-size: 30px;
	text-align: center;
	font-family: 'Staatliches', cursive;
	background-color: transparent;
	padding: 15px;
	transition: 0.2s;
}

.suzuributton:hover{
	border: 3px solid #fff;
	background-color: #fff;
}

#webdesign{
	width: 70vw;
	margin: 0 auto;
}
